.home_container{
    margin: 40px auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
 /* position: relative; */
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.home_content{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.filterBar_cont{
    width: 30%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    float: left;
    display: block;
    max-width: 263px;
}

.category_box_filter{
    padding: 24px;
    border-bottom: 1px solid #dee2e6;
}

.filter_cat_header{
    color: #3b3b3b;
    font-size: 0.9rem;
    font-weight: 800;
    text-transform: uppercase;
}

.inner_cat_box{
    display: flex;
    flex-direction: column;
    height: 100px;
    overflow-y: scroll;
    margin-top: 1rem;
    margin-right: 0.6rem;
}

.tick{
    display: block;
    position: relative;
    padding-left: 23px;
    cursor: pointer;
    font-size: 0.9rem;
    margin: 0;
}

.reset_btn{
    text-align: center;
    background: #d53a3a;
    color: white;
    cursor: pointer;
    padding: 7px;
    margin-top: 1rem;
    border-radius: 0.5rem;
    font-size: 15px;
    font-weight: 600;
}

.reset{
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.product_content{
    
}

.all_products_show_cont{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product_cont{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: auto;
}

.product_name{
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.product_img{
    width: 13rem;
}